* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/*! HEADER */

.header {
  padding: 15px;
  line-height: 36px;
}

.header__left {
  float: left;
}

.header__right {
  float: right;
}

/*? Liste elemanlarını yan yana gelmesini sağlıyoruz... */
ul li {
  display: inline-block;
}

ul li a {
  color: black;
  padding: 0.5rem;
  opacity: 0.8;
}

ul li a:hover {
  text-decoration: underline;
}

.header__right--appicon {
  vertical-align: middle;
}

.header__right--buton {
  background-color: #4285f4;
  color: white;
  border: none;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  font-weight: 600;
}

/*! özellikle butonlara box-shadow ile gölgelik verme olayını çokça yapacaz. */
.header__right--buton:hover {
  box-shadow: rgb(207, 202, 202) 2px 4px 5px;
  cursor: pointer;
}

/*! MAIN */

.main {
  margin-top: 200px;
  text-align: center;
}

.main__logo {
  width: 272px;
  height: 92px;
}

.main__search-bar {
  width: 460px;
  height: 45px;
  margin: 20px auto;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
}

.main__search-bar--input {
  border: none;
  outline: none;
  width: 380px;
  height: 30px;
  font-size: 14px;
  margin-top: 2px;
}

.main__search-bar--magnifier {
  width: 30px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.main__search-bar--mic {
  width: 15px;
  vertical-align: middle;
}

.main__buttons--left,
.main__buttons--right {
  width: 146px;
  border: none;
  border-radius: 4px;
  background-color: #f8f9fa;
  margin: 20px 0;
  padding: 0 16px;
  height: 36px;
}

.main__buttons--left:hover,
.main__buttons--right:hover {
  border: 1px solid #d3d3d3;
  box-shadow: rgb(207, 202, 202) 1px 1px 10px;
  cursor: pointer;
}

.main__language a:hover {
  text-decoration: underline;
}

/*! FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%; /*! fixed verdiğimiz için widht'i 100% yapmamız lazım */
}

.footer__country {
  font-size: 14px;
  padding-left: 20px;
  border-bottom: #5f6368;
}

.footer__bottom--left {
  float: left;
}

.footer__bottom--right {
  float: right;
}

.footer__bottom ul {
  padding: 20px;
}
